[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
flask-graphql = "*"
graphene-sqlalchemy = "*"
sqlalchemy = "*"
pydub = "*"
openai = "*"
shortuuid = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
sklearn = "*"
scikit-learn = "*"
waitress = "*"
fsspec = "*"

[dev-packages]

[requires]
python_version = "3.10"
